<div class=" bg-customColor flex space-x-4 p-28">

    <div class=" grid grid-cols-4 gap-4  w-4/5">
        <div class="bg-customPink rounded-[24px] p-4 text-center opacity-100 bg-repeat bg-origin-padding ">
            <div class="flex items-baseline space-x-1 ">
                <span class="text-[40px] leading-[53px] font-normal text-[#3D5161] opacity-100 ">71,028</span>
                <span class="text-[22px] leading-[29px] font-normal text-[#3D5161] opacity-100 ">EGP</span>
            </div>
            <p class="text-left font-bold text-[17px] leading-[20px] text-[#3D5161] opacity-100 mt-2 ">Total Value
            </p>
            <div class="flex items-center mt-2 space-x-2 ">
                <div class="p-2 rounded-full ">
                    <i class="fa-sharp fa-solid fa-caret-down text-[#FF7F5C] text-[16px] "></i>
                </div>
                <span class="text-[#FF7F5C] text-[16px] leading-[21px] font-normal opacity-100 ">2%</span>
            </div>
        </div>
        <div class="bg-white rounded-[24px] p-4 text-center opacity-100 bg-repeat bg-origin-padding  ">
            <div class="flex items-baseline space-x-1 ">
                <span class="text-[40px] leading-[53px] font-normal text-[#3D5161] opacity-100 ">20,000</span>
                <span class="text-[22px] leading-[29px] font-normal text-[#3D5161] opacity-100 ">m³
        </span>
            </div>
            <p class="text-left font-bold text-[17px] leading-[20px] text-[#3D5161] opacity-100 mt-2 ">Total Sales
            </p>
            <div class="flex items-center mt-2 space-x-2 ">
                <div class="p-2 rounded-full ">

                    <i class="fa-sharp fa-solid fa-caret-up text-[#00CBC0] text-[16px] "></i>
                </div>
                <span class="text-[#00CBC0] text-[16px] leading-[21px] font-normal opacity-100 ">50
          m³</span>
            </div>
        </div>
        <div class="bg-white rounded-[24px] p-4 text-center opacity-100 bg-repeat bg-origin-padding  ">
            <div class="flex items-baseline space-x-1 ">
                <span class="text-[40px] leading-[53px] font-normal text-[#3D5161] opacity-100 ">20,000</span>
                <span class="text-[22px] leading-[29px] font-normal text-[#3D5161] opacity-100 ">m³
        </span>
            </div>
            <p class="text-left font-bold text-[17px] leading-[20px] text-[#3D5161] opacity-100 mt-2 ">Avg Sales
            </p>
            <div class="flex items-center mt-2 space-x-2 ">
                <div class="p-2 rounded-full ">
                    <i class="fa-sharp fa-solid fa-caret-down text-[#FF7F5C] text-[16px] "></i>
                </div>
                <span class="text-[#FF7F5C] text-[16px] leading-[21px] font-normal opacity-100 ">50
          m³</span>
            </div>
        </div>
        <div class="bg-white rounded-[24px] p-4 text-center opacity-100 bg-repeat bg-origin-padding ">
            <div class="flex items-baseline space-x-1 ">
                <span class="text-[40px] leading-[53px] font-normal text-[#3D5161] opacity-100 ">1567</span>

            </div>
            <p class="text-left font-bold text-[17px] leading-[20px] text-[#3D5161] opacity-100 mt-2 ">Total Transaction Count
            </p>
            <div class="flex items-center mt-2 space-x-2 ">
                <div class="p-2 rounded-full ">

                    <i class="fa-sharp fa-solid fa-caret-up text-[#00CBC0] text-[16px] "></i>
                </div>
                <span class="text-[#00CBC0] text-[16px] leading-[21px] font-normal opacity-100 ">20</span>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1  w-1/5">
        <b>
      <p class="text-center font-bold text-[17px] leading-[20px] text
        #3D5161] opacity-100 ">Hourly Sales</p>
    </b>
    </div>
</div>