<div class="header">
    <div class="header-items">
        <div class="item-1">
            <span class="gas-station"><sub class="circle"></sub></span>
            <p>2/3</p>
            <div class="item-1-content">
                <p>Monitored</p>
                <p>Stations</p>
            </div>
        </div>
        <div class="item-2">
            <i class="fa-solid fa-rotate-right"><sub class="circle-2"></sub></i>
            <p>20s</p>
            <div class="item-2-content">
                <p>Last</p>
                <p>Update</p>
            </div>
        </div>
    </div>
    <div class="header-items">
        <div class="calendar">
            <p class="active">TODAY</p>
            <p>YESTERDAY</p>
            <p>LAST WEEK</p>
        </div>
    </div>

    <div class="header-items" style="gap: 20px">
        <div class="time-date">
            <i class="fa-solid fa-play"></i>
            <div class="time-date-content">
                <div class="time-date-text">
                    <p>Start</p>
                    <p class="small-text">date . time</p>
                </div>
                <div>
                    <i class="fa-regular fa-calendar"></i>
                </div>
            </div>
        </div>
        <div class="time-date">
            <i class="fa-solid fa-stop"></i>
            <div class="time-date-content">
                <div class="time-date-text">
                    <p>End</p>
                    <p class="small-text">date . time</p>
                </div>
                <div>
                    <i class="fa-regular fa-calendar"></i>
                </div>
            </div>
        </div>
    </div>
</div>