.main-layout {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

app-sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}